@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    margin-bottom: 150px;
}
body{
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Lilita One', cursive; 
    background-color: #E7E7E7;
    width: 100vh;
    height: 100vh;
}

strong{
    color: #FFBA00;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #000000;
}
main{
    
}
.container,.logo-portfolio-container{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.nav-bar{
    height: 125px;
    
}

.logo-portfolio{
    margin-top: 40px;
}
.nav-item{
    font-size: 24px;
    margin-left: 32px;
}
.intro-text{
    width: 375px;
    height: 135px;
    font-size: 24px;
    margin-bottom: 80px;
}
.redes-sociais-container{
    display: flex;
    align-items: center;
}

.projects-button{
    padding: 10px 25px;
    font-size: 32px;
    box-sizing: border-box;
    background: linear-gradient(95.85deg, #00A5FE 6.98%, #008CF8 85.25%);
    border: 2px solid #000000;
    border-radius: 30px;
    margin-right: 26px;
}
.redes-icons{
    margin-right: 7px;
}

.header-img{
   width: 800px;
}
.tech-title{
    text-align: center;
    margin-bottom: 85px;
    font-size: 50px;
}
.tech-img{
    width: 150px;
    margin-right: 36px;
}

.tech-container{
    display: flex;
    flex-direction: column;
}
.tech-item{
    display: flex;
    padding-bottom: 38px;
    margin-bottom: 38px;
    border-bottom: 6px solid #D9D9D9 ;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tech-names{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.tech-p{
    width: 750px;
    font-size: 20px;
    font-family: 'Public Sans', sans-serif;
}

.tech-img:hover{
    opacity: 0.7;
    transition: 200ms;
}