*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Lilita One', cursive; 
    background-color: #E7E7E7;
}

strong{
    color: #FFBA00;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #000000;
}
.container,.logo-portfolio-container{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.nav-bar{
    height: 125px;
    
}

.logo-portfolio{
    margin-top: 40px;
}
.nav-item{
    font-size: 24px;
    margin-left: 32px;
}
.intro-text{
    width: 375px;
    height: 135px;
    font-size: 24px;
    margin-bottom: 80px;
}
.redes-sociais-container{
    display: flex;
    align-items: center;
}

.projects-button{
    padding: 10px 25px;
    font-size: 32px;
    box-sizing: border-box;
    background: linear-gradient(95.85deg, #00A5FE 6.98%, #008CF8 85.25%);
    border: 2px solid #000000;
    border-radius: 30px;
    margin-right: 26px;
}
.redes-icons{
    margin-right: 7px;
}

.header-img{
   width: 800px;
}
.technologies-text{
    text-align: center;
    font-size: 50px;
}
.container-tech{
    display: flex;
    flex-direction: column;
    
}
.technologies-logos{
    width: 150px;
    display: inline-block;
    
}
.tech-itens{
    display: flex;
    flex-wrap: wrap;
    
    
}
.box-item{
    display: flex;
    width: 100%;
    border-bottom: #D9D9D9 4px solid;
    margin-bottom: 30px;
}
.p-tech{
    width: 765px;
    font-size: 20px;
}
